.progress-bar-label {
    color: white;
    font-size: 75%;
}

.field-percentDone {
    margin: 2px;
    background-color: #ccc;
}

.status-field {
    background-color: #fff;
}

.status-warn {
    background-color: #c00;
    color: #fff;
    padding: 3px;
}

.progress-bar-fieldlabel {
    font-size: 10px;
    color: #808080;
}